html,
body {}

body {
    margin: 0;
    padding: 0;
    font-family: Cuprum, Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: normal;
    color: #000000;
    background-color: #ffffff;
}

a {
    text-decoration: none;
}

.img {
    max-width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.main-header {
    margin-bottom: 58px;
}

.main-header-top-menu {
    background-color: #293449;

}

.main-header-top-menu .container {
    display: flex;
    flex-wrap: wrap;

}

.main-header-top-menu a,
.main-header-top-menu input {
    display: block;

}

.main-header-bookmarks,
.main-header-basket {
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;
    background-color: #293449;
}

.main-header-logo {
    width: 110px;
    padding: 10px 55px 8px;
    font-size: 24px;
    line-height: 24px;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #ee3643;
    box-shadow: 0 5px 0 0 #b52933;
}

.main-header-logo:hover {
    background-color: #ca2c37;
}

.main-header-logo:focus {
    background-color: #ba2732;
}

.header-form {
    position: relative;
}

.header-form::before {
    content: "";
    position: absolute;
    top: 12px;
    left: 17px;

    width: 17px;
    height: 17px;
    background-image: url(../img/icon-search.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.3;
}

.header-form:hover::before {
    opacity: 1;
}

.header-form:focus::before {
    opacity: 0.5;
}

.main-header-seaech {
    width: 270px;
    padding: 11px 140px 13px 48px;
    font-size: 17px;
    line-height: 18px;
    color: #000000;

    background-color: #293449;
    border: none;
    outline: 0;
}

.main-header-seaech::-webkit-input-placeholder {
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;
}

.main-header-seaech::-moz-placeholder {
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;
}

.main-header-seaech::-ms-input-placeholder {
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;
}

.main-header-seaech::placeholder {
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;
}

.main-header-seaech:hover {
    color: #ffffff;
    background-color: #212a3a;
    border: none;
}

.main-header-seaech:focus {
  position: relative;
  z-index: 2;
    color: #000000;

    background: #ffffff url(../img/icon-search-active.svg) no-repeat 16px 12px;
}

.main-header-seaech:focus::-webkit-input-placeholder {
    color: #000000;
}

.main-header-seaech:focus::-moz-placeholder {
    color: #000000;
}

.main-header-seaech:focus::-ms-input-placeholder {
    color: #000000;
}

.main-header-seaech:focus::placeholder {
    color: #000000;
}

.main-header-bookmarks {
    position: relative;
    width: 78px;
    padding-left: 44px;
    padding-right: 28px;
}

.main-header-bookmarks::before {
    content: "";
    position: absolute;
    top: 12px;
    left: 17px;

    width: 14px;
    height: 16px;

    background-image: url(../img/icon-bookmark.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.3;
}

.main-header-bookmarks::after {
    content: "0";
    position: absolute;
    top: 12px;
    left: 113px;

    width: 7px;
    height: 17px;
}

.main-header-basket {
    position: relative;
    width: 70px;
    padding-left: 49px;
    padding-right: 31px;
}

.main-header-basket::before {
    content: "";
    position: absolute;
    top: 12px;
    left: 18px;

    width: 15px;
    height: 15px;

    background-image: url(../img/cart-icon.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.3;
}

.main-header-basket::after {
    content: "0";
    position: absolute;
    top: 12px;
    left: 110px;

    width: 7px;
    height: 17px;
}

.main-header-bookmarks:hover,
.main-header-basket:hover {
    background-color: #212a3a;
}

.main-header-bookmarks:focus,
.main-header-basket:focus {
    color: rgba(255, 255, 255, 0.6);
    background-color: #161d29;
}

.main-header-bookmarks:hover::before,
.main-header-basket:hover::before {
    opacity: 1;
}

.main-header-bookmarks:focus::before,
.main-header-basket:focus::before,
.main-header-bookmarks:active::before,
.main-header-basket:active::before {
    opacity: 0.5;
}

.main-header-order-btn {
    width: 110px;
    padding: 12px 20px 12px 20px;
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;
    background-color: #63a63e;
}

.main-header-order-btn:hover {
    background-color: #5fbb2d;
}

.main-header-order-btn:focus {
    color: rgba(255, 255, 255, 0.5);
    background-color: #518534;
}

.header-wrap {
    margin: 0;
    padding: 0;
    padding-bottom: 60px;
    background-color: #f3f7f8;
}

.header-info {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0;
    margin-bottom: 40px;
    padding: 0;
    padding-top: 46px;

}

.header-info h1 {
  width: 200px;
    margin: 0;
    padding: 0;
    margin-left: 52px;
    margin-right: 70px;
    padding-top: 3px;

    font-size: 16px;
    line-height: 23px;
    font-style: italic;
    font-weight: normal;
    color: #ee3643;
}

.header-contact-info {
    width: 270px;
    margin-right: 69px;
}

.header-contact-info-phone {
    position: relative;
    margin: 0;
    margin-bottom: 3px;
    padding: 0;

    width: 145px;
    padding: 10px 50px 10px 70px;
    font-size: 21px;
    line-height: 21px;
    color: #ee3643;
    border: 2px solid white;
}

.header-contact-info-phone::before {
    content: "";
    position: absolute;
    top: 11px;
    left: 13px;

    width: 19px;
    height: 19px;

    background-image: url(../img/icon-phone.svg);
    background-repeat: no-repeat;
    background-position: 0 0;

}

.header-contact-info-adress {
    margin: 0;
    padding: 0;
    padding-left: 8px;
    font-size: 14px;
    line-height: 24px;
    color: #32425c;
}

.user-navigation {
    display: flex;
    justify-content: space-between;
    width: 281px;
    margin: 0;
    padding: 0;
}

.user-navigation a {
    display: block;
    font-size: 21px;
    line-height: 21px;
    color: #000000;
    background-color: #ffffff;
}

.user-navigation a:hover {
    color: #ee3643;
}

.user-navigation a:focus {
    color: rgba(0, 0, 0, 0.3);
    opacity: 0.3;
}

.login-link {
    margin-right: 10px;
}

.login-link a {
    position: relative;
    width: 48px;
    padding: 12px 26px 16px 46px;
}

.login-link a::before {
    content: "";
    position: absolute;
    top: 14px;
    left: 14px;

    width: 20px;
    height: 17px;

    background-image: url(../img/icon-login.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.login-link a:hover::before {
    background-image: url(../img/icon-login-blue.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.login-registration a {
    width: 102px;
    padding: 12px 24px 16px 24px;
}

.main-navigation {
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 17px;
    line-height: 17px;
    color: #ffffff;
}

.user-navigation,
.site-navigation,
.main-slider,
.popular-items,
.service-list,
.service-slider,
.delivery-list {
    list-style: none;
}

.site-navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 940px;
    margin: 0;
    padding: 0;
    background-color: #32425c;
    box-shadow: inset 0 -5px 0 0 #293449;
}

.site-navigation a {
    display: block;
    vertical-align: middle;
    color: #ffffff;
    padding: 20px 31px 24px 30px;
}

.site-navigation ul {
    padding-left: 51px;
    padding-right: 51px;
}



.site-navigation a:hover {
    background-color: #293449;
}

.site-navigation a:focus {
    color: #ffffff;
    opacity: 0.5;
    background-color: #1d2739;
}

.container {
    width: 940px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.menu {
    margin-bottom: 53px;
}

.menu-wrap-top {
    display: flex;
    margin-bottom: 20px;
}

.menu-wrap-bottom {
    display: flex;
}

.main-slider {
    width: 620px;
    height: 266px;
    margin: 0;
    padding: 0;
}

.main-slider li {
    position: relative;
}

.slider-item-caption {
    position: absolute;
    top: 23px;
    left: 23px;
    margin: 0;
    padding: 0;
    font-size: 36px;
    line-height: 36px;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
}

.slider-item-text {
    position: absolute;
    top: 61px;
    left: 24px;
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
}

.main-slider-btn {
    display: block;
    position: absolute;
    top: 206px;
    left: 25px;
    margin: 0;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 195px;
}

.main-slider-perforator {
    display: none;
}

.button-slider-back {
    position: absolute;
}

.menu-item {
    width: 278px;
    padding-top: 20px;
    padding-left: 22px;
    padding-bottom: 22px;
    margin-right: 20px;
}

.menu-item:nth-child(3n) {
    margin-right: 0;
}

.menu-item h3 {
    margin: 0;
    margin-bottom: 13px;
    padding: 0;
    font-size: 24px;
    line-height: 30px;
    color: #ffffff;
}

.button {
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    background-color: #ee3643;
    border: none;
    border-radius: 3px;
}

.menu-item-materials {
    position: relative;
    background-color: #ffbf47;
}

.menu-item-materials::after {
    content: "";
    position: absolute;
    top: 31px;
    right: 43px;

    width: 44px;
    height: 65px;

    background-image: url(../img/icon-1.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.menu-item-materials .flag {
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 59px;
    text-indent: -1000px;
    overflow: hidden;
    z-index: 20;
}

 .flag-new {
    background: url("../img/new-flag.png") no-repeat 0 0;
}

.menu-item-tool {
    position: relative;
    background-color: #3bbce3;
}

.menu-item-tool::after {
    content: "";
    position: absolute;
    top: 33px;
    right: 28px;

    width: 75px;
    height: 61px;

    background-image: url(../img/icon-2.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.menu-item-tech {
    position: relative;
    background-color: #dc91d8;
}

.menu-item-tech::after {
    content: "";
    position: absolute;
    top: 31px;
    right: 31px;

    width: 78px;
    height: 62px;

    background-image: url(../img/icon-3.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.menu-wrap-item {
    margin-left: 20px;

}

.menu-item-discounts {
    position: relative;
    margin-right: 0;
    margin-bottom: 20px;

    background-color: #8ed78f;

}

.menu-item-discounts::after {
    content: "";
    position: absolute;
    top: 26px;
    right: 45px;

    width: 59px;
    height: 72px;

    background-image: url(../img/icon-4.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.menu-item-delivery {
    position: relative;
    margin-right: 0;

    background-color: #ffc047;
}

.menu-item-delivery::after {
    content: "";
    position: absolute;
    top: 31px;
    right: 31px;

    width: 78px;
    height: 63px;

    background-image: url(../img/icon-5.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.menu-item a {
    display: block;
    margin: 0;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 135px;

    background-color: rgba(0, 0, 0, 0.1);
}

.menu-item a:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.menu-item a:focus {
    background-color: rgba(0, 0, 0, 0.3);
}


}
.btn-red{
  background-color: #ee3643;
}
.btn-red:hover {
    background-color: #ca2c37;
}

.btn-red:focus {
    background-color: #ba2732;
}

.title-btn-wrap {
    display: flex;
    background-color: #f9f5f0;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 26px;
    padding-left: 26px;
    padding-right: 24px;
    margin-bottom: 20px;
}

.popular-btn {
    width: 253px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: auto;
}

.section-title {
    margin: 0;
    padding: 0;
    margin-top: 1px;
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
    color: #32425c;
    text-transform: uppercase;
}

.catalog-item h3 {
    min-height:40px;
    margin: 0;
    padding: 0;
    padding:0 25px;
    margin-top:11px;
    margin-bottom:10px;
    font-size: 18px;
    line-height: 20px;
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: bold;
    color: #000000;
}

.popular-items {
    display: flex;
    margin: 0;
    padding: 0;
font-size:0;
}

.catalog-item {
    position: relative;
    display:inline-block;
    width: 218px;
    margin-right: 20px;
    margin-bottom:21px;
    text-align:center;
    font-size:16px;
    border:1px solid #ccc;

}
.catalog-item-image{
    width:218px;
    height:168px;
}
.catalog-item-image img{
  max-width: 100%;
}
.catalog-item .flag{
    position: absolute;
      top: -1px;
    right: -1px;
    width: 60px;
    height: 59px;
    text-indent: -1000px;
    overflow: hidden;
    z-index: 20;
}
.catalog-item:nth-child(4n) {
    margin-right: 0;
}

.price-past,
.price-btn {
    font-size: 17px;
    line-height: 18px;
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: bold;
}

.price-past {
    min-height:20px;
    margin-bottom:9px;
    color: #a9a9a9;
    text-decoration: line-through;
}
.price-btn {
   position:relative;
    width:80px;
    margin:9px auto;
    margin-bottom:20px;
    padding:10px 27px;
}

.price-btn::after{
  content:"";
    position:absolute;
    top:0;
    right:-26px;
    width:0;
    height:0;
    border:19px solid white;
    border-left-color:#ee3643;
}

.catalog-btn {
display: none;
position:absolute;
top:0;
left:0;
width:218px;
height:88px;
padding:40px 0;
background-color:rgba(255,255,255,0.9);
z-index:10;
}

.catalog-btn-basket,
.catalog-btn-bookmarks{
  display:block;
  width:129px;
  margin:0 auto;
  margin-bottom:7px;
  padding:7px 0;

  font-size: 14px;
  line-height: 18px;

  border:3px solid #63a63e;
  border-bottom-color:#367315;
  background-color:#63a63e;
}

.catalog-item:hover .catalog-btn{
  display:block;
}
.catalog-item:hover{
box-shadow: 0 25px 3px 10px rgba(41, 52, 73, 0.5)

}
.catalog-btn-basket:hover {
    background-color: #5fbb2d;
}

.catalog-btn-basket:focus {
    color: #ffffff;
    background-color: #518534;
}

.catalog-btn-bookmarks {
    color: #32425c;
    background-color: #ffffff;
 border-bottom-color:#63a63e;
}

.catalog-btn-bookmarks:hover {
    color: #32425c;
    background-color: #ffffff;
    border: 2px solid #32425c;
}

.catalog-btn-bookmarks:focus {
    color: #32425c;
    opacity: 0.3;
    background-color: #ffffff;
    border: 2px solid #c1c6ce;
}

/*.popular-brands-btn {
    width: 115px;
    padding: 10px 69px;
    margin-left: auto;
}*/

.popular-brands {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    margin-bottom: 65px;
    list-style: none;
}

.brands-item {
  display: flex;
    width: 218px;
    height: 143px;
    margin-right: 20px;
    margin-bottom: 20px;

    border: 1px solid #c1c6ce;
}
.brands-item:nth-child(4n){
  margin-right: 0;
}
.popular-brands a{
  display:block;
  margin: auto;

}
.popular-brands a:active {
    opacity: 0.3;
}

.service {
    background-color: #f4f8f9;
    margin-bottom: 85px;
    padding-top: 65px;
}

.service h2,
.about h2,
.contacts h2 {
    font-size: 30px;
    line-height: 30px;
    color: #000000;
    text-transform: uppercase;
    font-weight: normal;
    margin: 0;
    padding: 0;
    margin-bottom: 26px;
}

.service p {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  margin-bottom: 67px;
}

.service-wrap {
    display: flex;
    margin: 0;
    margin-bottom: 100px;
}

.service-list {
    margin: 0;
    padding: 0;
    margin-right: 80px;
    margin-top: 1px;
}

.service-item {
    width: 240px;


}
.service-item li{

}
.service-item a {
  display: block;
  padding-left: 22px;
  padding-top: 15px;
  padding-bottom: 16px;

    font-size: 21px;
    line-height: 30px;
    color: #ffffff;
    font-weight: bold;
    background-color: #32425c;
    box-shadow: inset 0 -1px 0 0 #405069;
}

.service-item a:hover {
    background-color: #293449;
}

.service-item a:active {
    color: #32425c;
    background-color: #ffffff;
}

.service-item-current a,
.service-item-current a:hover,
.service-item-current a:focus,
.service-item-current a:active {
    color: #32425c;
    background-color: #ffffff;
}

.service-slider {
    margin: 0;
    padding: 0;
}

.service-slider-item {
    width: 620px;
}

.service-slider-item strong {
  display: block;
  margin-bottom: 26px;
    font-size: 36px;
    line-height: 36px;
    color: #32425c;
    font-weight: normal;
    text-transform: uppercase;
}
.service-slider-item p{
  padding: 0;
  margin: 0;
}
.service-slider-delivery{
  display: none;
position: relative;
width: 285px;
padding-right: 335px;
}
.service-slider-delivery::after{
  content: "";
  position: absolute;
  top:25px;
  right:  0;
  width: 468px;
  height:261px;

  background-image: url(../img/delivery-slider.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.service-slider-guarantee{
  display: none;
  position: relative;
  width: 381px;
  padding-right: 239px;
}
.service-slider-guarantee::after{
  content: "";
  position: absolute;
  top:3px;
  right:  -7px;
  width: 389px;
  height:283px;

  background-image: url(../img/guarantee-slider.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}
.service-slider-credit {
    display: blok;
    position: relative;
    width: 285px;
    padding-right: 335px;
}
.service-slider-credit::after{
  content: "";
  position: absolute;
  top:1px;
  right:  -10px;
  width: 465px;
  height:285px;

  background-image: url(../img/credit-slider.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}
.service-slider-credit p{
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
}
.service-btn{
  display: block;
  margin: 0;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 195px;
}
.about-wrap {
    display: flex;
}

.about-company {
    width: 535px;
    margin-right: 90px;
}

.delivery-list {
    width: 300px;
    margin: 0;
    padding: 0;
}

.delivery-item {
    font-size: 18px;
    line-height: 20px;
}

.about p {
    font-family: "PT Sans", Arial, sans-serif;
}

.contacts p {
    font-family: "PT Sans", Arial, sans-serif;
}

.user-order-area {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: underline;
    font-size: 16px;
    line-height: 18px;
}

.user-order-area a {
    color: #32425c;
}

.user-order-area a:hover {
    color: #ee3643;
}

.user-order-area a:focus {
    color: rgba(50, 66, 92, 0.3);
}

.user a,
.exit a {
    font-size: 21px;
    line-height: 21px;
    color: #000000;
}

.exit a {
    opacity: 0.3;
}

.user a:hover,
.exit a:hover {
    color: #000000;
}

.breadcrumbs {
    margin: 0;
    margin-bottom: 25px;
    padding: 0;
    list-style: none;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
}

.breadcrumbs a:link,
.breadcrumbs a:visited,
.breadcrumbs a:hover,
.breadcrumbs a:focus,
.breadcrumbs a:active {
    color: #000000;
}

.page-title {
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 30px;
    color: #32425c;
    text-transform: uppercase;
    font-weight: normal;
    background-color: #f2f6f8;
}

.catalog-columns {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
}

.filters {
    width: 220px;
}

.filters h2,
.sort h2 {
    font-size: 13px;
    line-height: 18px;
    font-family: "PT Sans", Arial, sans-serif;
    text-transform: uppercase;
    font-weight: normal;
    background-color: #f7f3ec;
}

.filters fieldset {
    border: none;
}

.filter legend {
    font-size: 17px;
    line-height: 30px;
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

.filter input {
    background-color: #f7f3ec;
    font-size: 17px;
    line-height: 30px;
    font-family: "PT Sans", Arial, sans-serif;
    color: #000000;
    font-weight: normal;
}

.price-placeholder::-webkit-input-placeholder {
    background-color: #f7f3ec;
    font-size: 17px;
    line-height: 30px;
    font-family: "PT Sans", Arial, sans-serif;
    color: #000000;
    font-weight: normal;
}

.price-placeholder::-moz-placeholder {
    background-color: #f7f3ec;
    font-size: 17px;
    line-height: 30px;
    font-family: "PT Sans", Arial, sans-serif;
    color: #000000;
    font-weight: normal;
}

.price-placeholder::-ms-input-placeholder {
    background-color: #f7f3ec;
    font-size: 17px;
    line-height: 30px;
    font-family: "PT Sans", Arial, sans-serif;
    color: #000000;
    font-weight: normal;
}

.price-placeholder::placeholder {
    background-color: #f7f3ec;
    font-size: 17px;
    line-height: 30px;
    font-family: "PT Sans", Arial, sans-serif;
    color: #000000;
    font-weight: normal;
}

.filter ul {
    list-style: none;
    font-size: 15px;
    line-height: 20px;
    font-family: "PT Sans", Arial, sans-serif;
    text-transform: uppercase;
}

.filter-input:hover + label,
.filter-input:focus + label {
    color: #000000;
}

.filter-input:disabled + label {
    color: #000000;
    opacity: 0.4;
}

.filter-button {
    font-size: 13px;
    line-height: 18px;
    font-family: "PT Sans", Arial, sans-serif;
    text-transform: uppercase;
    color: #000000;
    background-color: #ffffff;
}

.sort {
    background-color: #f7f3ec;
}

.sort ul {
    list-style: none;
}

.sort a {
    font-size: 13px;
    line-height: 18px;
    font-family: "PT Sans", Arial, sans-serif;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.3);
    border-bottom: 1px dotted #ee3643;
}

.sort a:hover {
    color: rgba(0, 0, 0, 1);
    border-bottom: 1px solid #ee3643;
}

.sort a:focus {
    color: #ee3643;
    border: none;
}

.sort a:active {
    color: #ee3643;
}

.sort-current a {
    color: #ee3643;
    border: none;
}

.catalog {
    width: 700px;
}

.catalog-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    margin-bottom: 55px;
    padding: 0;
    list-style: none;
}

.inner-page .catalog-item {
    margin-bottom: 20px;
}

.inner-page .catalog-item:nth-child(3n) {
    margin-right: 0;
}

.pagination-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.pagination-list a {
    font-size: 13px;
    line-height: 18px;
    font-family: "PT Sans", Arial, sans-serif;
    text-transform: uppercase;
    color: #000000;
    background-color: #ffffff;
    border: 1px solid #e5e5e5;
}

.pagination-list a:hover {
    border: 1px solid #bdc6ca;
}

.pagination-list a:focus {
    border: 1px solid #ee3643;
}

.pagination-item-current a {
    color: #ffffff;
    background-color: #ee3643;
    border: none;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
    color: #ffffff;
    background-color: #ee3643;
    border: none;
}

.about-perforator {
    background-color: #f2f6f8;
}

.about-perforator h2 {
    margin: 0;
    padding: 0;
}

.footer-top {
    background-color: #32425c;
    margin-top: 85px;
}

.navigation-footer {
    display: flex;
    margin-bottom: 35px;
}

.footer-logo {
    margin-right: auto;
    width: 137px;
    padding: 18px 40px;
    font-size: 30px;
    line-height: 30px;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #ee3643;
}

.footer-site-navigation {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 550px;
    margin: 0;
    padding: 0;
    margin-left: auto;
}

.footer-contact-wrap {
    display: flex;
    padding-bottom: 50px;
}

.footer-contact-info {
    width: 330px;
    margin: 0;
    padding: 0;
}

.footer-catalog-navigation {
    display: flex;
    flex-wrap: wrap;
    width: 525px;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    margin-left: auto;
}

.footer-site-navigation,
.footer-catalog-navigation,
.footer-contact-info {
    font-size: 18px;
    line-height: 24px;
}

.footer-site-navigation a,
.footer-contact-info {
    color: #f3f7f9;
}

.footer-site-navigation,
.footer-catalog-navigation {
    list-style: none;
}

.footer-catalog-navigation a {
    color: #ffd180;
}

.footer-site-navigation a:hover,
.footer-catalog-navigation a:hover {
    text-decoration: underline;
}

.footer-site-navigation a:focus,
.footer-catalog-navigation a:focus {
    opacity: 0.5;
}

.footer-bottom {
    font-size: 16px;
    line-height: 28px;
    color: #ffffff;
    background-color: #293449;
}

.footer-bottom-wrap {
    display: flex;
}

.footer-copyright {
    width: 230px;
}

.footer-social {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

.footer-social a {
    color: #ffffff;
    background-color: #212a3a;
}

.footer-social a:hover,
.footer-social a:focus {
    background-color: #ee3643;
}

.footer-contacts-link,
.footer-development-link {
    color: #ffd180;
}

.footer-contacts-link:hover,
.footer-development-link:hover {
    text-decoration: underline;
}

.footer-contacts-link:focus,
.footer-development-link:focus {
    color: #ee3643;
}

.feedback-item {
    font-size: 18px;
    line-height: 18px;
    color: #000000;
}

.style-placeholder::-webkit-input-placeholder {
    font-size: 13px;
    line-height: 18px;
    color: #a9a9a9;
    font-family: "PT Sans", Arial, sans-serif;
}

.style-placeholder::-moz-placeholder {
    font-size: 13px;
    line-height: 18px;
    color: #a9a9a9;
    font-family: "PT Sans", Arial, sans-serif;
}

.style-placeholder::-ms-input-placeholder {
    font-size: 13px;
    line-height: 18px;
    color: #a9a9a9;
    font-family: "PT Sans", Arial, sans-serif;
}

.style-placeholder::placeholder {
    font-size: 13px;
    line-height: 18px;
    color: #a9a9a9;
    font-family: "PT Sans", Arial, sans-serif;
}

.modal-feedback {
    display: none;
}

.modal-map {
    display: none;
}

.modal-basket {
    display: none;
}

.modal-basket p {
    font-size: 30px;
    line-height: 30px;
    color: #000000;
}

.modal-button button:last-child {
    color: #000000;
    background-color: #ffffff;
}
