body {
    margin: 0;
    padding: 0;

    font-family: Cuprum, Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: normal;
    color: #000000;

    background-color: #ffffff;
}

a {
    text-decoration: none;
}

.main-header-top-menu {
    background-color: #293449;
}

.main-header-top-menu a:not(:last-child):not(.main-header-logo) {
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;

    background-color: #293449;
}

.main-header-logo {
    font-size: 24px;
    line-height: 24px;
    color: #ffffff;
    text-transform: uppercase;

    background-color: #ee3643;
}

.main-header-logo:hover {
    background-color: #ca2c37;
}

.main-header-logo:focus {
    background-color: #ba2732;
}

.main-header-seaech {
    background-color: #293449;
    border: none;
    color: #ffffff;
}

.main-header-seaech::-webkit-input-placeholder {
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;
}

.main-header-seaech::-moz-placeholder {
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;
}

.main-header-seaech::-ms-input-placeholder {
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;
}

.main-header-seaech::placeholder {
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;
}

.main-header-seaech:hover {
    color: #ffffff;

    background-color: #212a3a;
}

.main-header-seaech:focus {
    background-color: #ffffff;
}

.main-header-seaech:focus::-webkit-input-placeholder {
    color: #000000;
}

.main-header-seaech:focus::-moz-placeholder {
    color: #000000;
}

.main-header-seaech:focus::-ms-input-placeholder {
    color: #000000;
}

.main-header-seaech:focus::placeholder {
    color: #000000;
}

.main-header-bookmarks:hover,
.main-header-basket:hover {
    background-color: #212a3a;
}

.main-header-bookmarks:focus,
.main-header-basket:focus {
    color: #ffffff;
    opacity: 0.4;

    background-color: #161d29;
}


.main-header-order-btn {
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;

    background-color: #63a63e;
}

.main-header-order-btn:hover {
    background-color: #5fbb2d;
}

.main-header-order-btn:focus {
    color: #ffffff;
    opacity: 0.5;
    background-color: #518534;
}

.header-wrap {
    background-color: #f3f7f8;
}

.header-info h1 {
    font-size: 16px;
    line-height: 23px;
    font-style: italic;
    color: #ee3643;
}

.header-contact-info-phone {
    font-size: 21px;
    line-height: 21px;
    color: #ee3643;
}

.header-contact-info-adress {
    font-size: 14px;
    line-height: 24px;
    color: #32425c;
}

.user-navigation a {
    font-size: 21px;
    line-height: 21px;
    color: #000000;
}

.user-navigation a:hover {
    color: #ee3643;
}

.user-navigation a:focus {
    color: #000000;
    opacity: 0.3;
}

.main-navigation {
    font-size: 17px;
    line-height: 17px;
    color: #ffffff;

    background-color: #32425c;
}

.user-navigation,
.site-navigation,
.main-slider,
.popular-items,
.service-list,
.service-slider,
.delivery-list {
    list-style: none;
}

.site-navigation a {
    color: #ffffff;
}

.site-navigation a:hover {
    background-color: #293449;
}

.site-navigation a:focus {
    color: #ffffff;
    opacity: 0.5;
    background-color: #1d2739;
}

.menu-item h3 {
    font-size: 24px;
    line-height: 30px;
    color: #ffffff;
}

.button {
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;

    background-color: #ee3643;
    border: none;
}

.menu-item:first-child {
    background-color: #ffbf47;
}

.menu-item:nth-child(2) {
    background-color: #3bbce3;
}

.menu-item:nth-child(3) {
    background-color: #dc91d8;
}

.menu-item:nth-child(4) {
    background-color: #8ed78f;
}

.menu-item:nth-child(5) {
    background-color: #ffc047;
}

/* Эти цвета кнопок с главной страницы
.menu-item:nth-of-type(1) .menu-item-btn:nth-child(2) {
    background-color: #e5ac40;
    opacity: 0.9;
}

.menu-item:nth-of-type(2) .menu-item-btn:nth-child(2) {
    background-color: #35a9cc;
    opacity: 0.9;
}

.menu-item:nth-of-type(3) .menu-item-btn:nth-child(2) {
    background-color: #c682c2;
    opacity: 0.9;
}

.menu-item:nth-of-type(4) .menu-item-btn:nth-child(2) {
    background-color: #80c180;
    opacity: 0.9;
}

.menu-item:last-of-type .menu-item-btn:nth-child(2) {
    background-color: #e5ac40;
    opacity: 0.9;
}*/

/* А это со styleguide*/

.menu-item a {
    background-color: #e5e5e5
}

.menu-item a:hover {
    background-color: #cccccc;
}

.menu-item a:focus {
    background-color: #b2b2b2;
}

.slider-item-caption {
    font-size: 36px;
    line-height: 36px;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;

    background-color: #000000;
}

.slider-item-text {
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;

    background-color: #000000;
}

.main-slider-btn:hover {
    background-color: #ca2c37;
}

.main-slider-btn:focus {
    background-color: #ba2732;
}

.title-btn-wrap {
    background-color: #f9f5f0;
}

.section-title {
    font-size: 30px;
    line-height: 30px;
    color: #32425c;
    text-transform: uppercase;
}

.catalog-item h3 {
    font-size: 18px;
    line-height: 20px;
    font-family: PT Sans, Arial, sans-serif;
    font-weight: bold;
    color: #000000;
}

.price-past,
.price-btn {
    font-size: 17px;
    line-height: 18px;
    font-family: PT Sans, Arial, sans-serif;
    font-weight: bold;
}

.price-past {
    color: #a9a9a9;
    text-decoration: line-through;
}

.catalog-item-btn {
    font-size: 14px;
    line-height: 18px;
}

.catalog-item-btn:first-child {
    background-color: #63a63e;
}

.catalog-item-btn:first-child:hover {
    background-color: #5fbb2d;
}

.catalog-item-btn:first-child:focus {
    background-color: #518534;
}

.catalog-item-btn:last-child {
    color: #32425c;

    background-color: #ffffff;
    border: 2px solid #63a63e;
}

.catalog-item-btn:last-child:hover {
    color: #32425c;

    background-color: #ffffff;
    border: 2px solid #32425c;
}

.catalog-item-btn:last-child:focus {
    color: #32425c;
    opacity: 0.3;

    background-color: #ffffff;
    border: 2px solid #c1c6ce;
}

.popular-items a:active {
    opacity: 0.3;
}

.service {
    background-color: #f4f8f9;
}

.service h2,
.about h2,
.contacts h2 {
    font-size: 30px;
    line-height: 30px;
    color: #000000;
    text-transform: uppercase;
}


.service p {
    font-family: PT Sans, Arial, sans-serif;
}

.service-item a {
    font-size: 21px;
    line-height: 30px;
    color: #ffffff;
    font-weight: bold;

    background-color: #32425c;
}

.service-item a:hover {
    background-color: #293449;
}

.service-item a:active {
    color: #32425c;

    background-color: #ffffff;
}

.service-item-current a,
.service-item-current a:hover,
.service-item-current a:focus,
.service-item-current a:active {
    color: #32425c;

    background-color: #ffffff;
}

.service-slider-item strong {
    font-size: 36px;
    line-height: 36px;
    color: #32425c;
}

.delivery-item {
    font-size: 18px;
    line-height: 20px;
}

.about p {
    font-family: PT Sans, Arial, sans-serif;
}

.user-order-area {
    list-style: none;
}

.user-order-area a {
    color: #32425c;
}

.user-order-area a:hover {
    color: #ee3643;
}

.user-order-area a:focus {
    opacity: 0.3;
}

.breadcrumbs {
    list-style: none;
    font-family: PT Sans, Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
}

.page-title {
    font-size: 30px;
    line-height: 30px;
    color: #32425c;
    text-transform: uppercase;
}

.filters h2,
.sort h2 {
    font-size: 13px;
    line-height: 18px;
    font-family: PT Sans, Arial, sans-serif;
    text-transform: uppercase;

    background-color: #f7f3ec;
}

.filters legend {
    font-size: 17px;
    line-height: 30px;
    font-family: PT Sans, Arial, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}


.filters input {
    background-color: #f7f3ec;
}

.filters ul {
    list-style: none;
    font-size: 15px;
    line-height: 20px;
    font-family: PT Sans, Arial, sans-serif;
    text-transform: uppercase;
}

.filter-input:hover + label,
.filter-input:focus + label {
    color: #000000;
}

.filter-input:disabled + label {
    color: #000000;

    opacity: 0.4;
}

.filter-button {
    font-size: 13px;
    line-height: 18px;
    font-family: PT Sans, Arial, sans-serif;
    text-transform: uppercase;
    color: #000000;

    background-color: #ffffff;
}

.sort {
    background-color: #f7f3ec;
}

.sort ul {
    list-style: none;

}

.sort a {
    font-size: 13px;
    line-height: 18px;
    font-family: PT Sans, Arial, sans-serif;
    text-transform: uppercase;
    color: #000000;

    opacity: 0.3;
}

.sort a:hover {
    opacity: 1;
}

.sort a:focus {
    color: #ee3643;
}

.catalog-list {
    list-style: none;
}

.pagination-list {
    list-style: none;
}

.pagination-list a {
    font-size: 13px;
    line-height: 18px;
    font-family: PT Sans, Arial, sans-serif;
    text-transform: uppercase;
    color: #000000;

    background-color: #ffffff;
    border: 1px solid #e5e5e5;
}

.pagination-list a:hover {
    border: 1px solid #bdc6ca;
}

.pagination-list a:focus {
    border: 1px solid #ee3643;
}

.pagination-list a:active {
    color: #ffffff;

    background-color: #ee3643;
}

.pagination-item-current a {
    color: #ffffff;

    background-color: #ee3643;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
    color: #ffffff;

    background-color: #ee3643;
}

.footer-top {
    background-color: #32425c;
}


.footer-logo {
    font-size: 30px;
    line-height: 30px;
    color: #ffffff;
    text-transform: uppercase;

    background-color: #ee3643;
}

.footer-site-navigation,
.footer-catalog-navigation,
.footer-contact-info {
    font-size: 18px;
    line-height: 24px;

}

.footer-site-navigation a,
.footer-contact-info {
    color: #f3f7f9;
}

.footer-site-navigation,
.footer-catalog-navigation {
    list-style: none;
}

.footer-catalog-navigation a {
    color: #ffd180;
}

.footer-site-navigation a:hover,
.footer-catalog-navigation a:hover {
    text-decoration: underline;
}

.footer-site-navigation a:focus,
.footer-catalog-navigation a:focus {
    opacity: 0.5;
}

.footer-bottom {
    font-size: 16px;
    line-height: 28px;
    color: #ffffff;

    background-color: #293449;
}


.footer-social {
    list-style: none;
    text-align: center;
}

.footer-social a {
    color: #ffffff;

    background-color: #212a3a;
}

.footer-social a:hover,
.footer-social a:focus {
    background-color: #ee3643;
}

.footer-contacts-link,
.footer-development-link {
    color: #ffd180;
}

.footer-contacts-link:hover,
.footer-development-link:hover {
    text-decoration: underline;
}

.footer-contacts-link:focus,
.footer-development-link:focus {
    color: #ee3643;
}

.feedback-item {
    font-size: 18px;
    line-height: 18px;
    color: #000000;
}

.style-placeholder::-webkit-input-placeholder {
    font-size: 13px;
    line-height: 18px;
    color: #a9a9a9;
    font-family: PT Sans, Arial, sans-serif;
}

.style-placeholder::-moz-placeholder {
    font-size: 13px;
    line-height: 18px;
    color: #a9a9a9;
    font-family: PT Sans, Arial, sans-serif;
}

.style-placeholder::-ms-input-placeholder {
    font-size: 13px;
    line-height: 18px;
    color: #a9a9a9;
    font-family: PT Sans, Arial, sans-serif;
}

.style-placeholder::placeholder {
    font-size: 13px;
    line-height: 18px;
    color: #a9a9a9;
    font-family: PT Sans, Arial, sans-serif;
}

.modal-basket p {
    font-size: 30px;
    line-height: 30px;
    color: #000000;
}

.modal-button button:last-child {
    color: #000000;

    background-color: #ffffff;
}
